
/* table, th, td {
	border:1px solid black;
	text-align: center;
}

table, th, td {
/*	border: 1px solid black;*/
/*	text-align: center;*/
/*}*/

body { 
  background-image: url("rain-world-cry-about-it.gif");
  color: orange;
/*	background-repeat: repeat;*/
  }


h1 {
  color: midnightblue;
}